 <div id="fm-product-tabs"  class="columns medium-down--one-whole  {% if section.settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}">
   <div class="tabs">
     <input name="tabs" type="radio" id="tab-1" checked="checked" class="input" />
     <label for="tab-1" class="label">Description</label>
     <div class="panel">
       {% if product.description != blank %}
       {{ product.description | split: '<!-- split -->' | first }}
       {% endif %}
     </div>

     <input name="tabs" type="radio" id="tab-2" class="input" />
     <label for="tab-2" class="label">Shipping & Refund</label>
     <div class="panel">
       {{ section.settings.ti_shipping_and_refund }}
     </div>

     <input name="tabs" type="radio" id="tab-3" class="input" />
     <label for="tab-3" class="label">Why Choose Us</label>
     <div class="panel">
       {{ section.settings.ti_why_choose_us }}
     </div>
   </div>
   
</div>

   <style>
     * {
       box-sizing: border-box;
     }

     .tabs {
       display: flex;
       flex-wrap: wrap;
       max-width: 630px;
     }

     .tabs .input {
       position: absolute;
       opacity: 0;
     }

     .tabs .label {
       width: 100%;
       padding: 8px 46px;
       cursor: pointer;
       font-weight: bold;
       font-size: 0.9em;
       color: #ffffff;
       background-color: #13b3b2;
       transition: background 0.1s, color 0.1s;
     }

     .tabs .label:hover {
       background: #d8d8d8;
     }

     .tabs .label:active {
       background: #ccc;
     }

     .tabs .input:focus + .label {
       z-index: 1;
     }

     .tabs .input:checked + .label {
       border-bottom: solid #000;
       color: #000;
       background-color: #04cdcc;

     }

     .tabs .panel {
       display: none;
       padding: 8px 14px 0px 5px;
       background: #fff;
       font-size: 0.9em;
     }

     @media (min-width: 600px) {
       .tabs .label {
         width: auto;
       }

       .tabs .panel {
         order: 99;
       }
     }

     .tabs .input:checked + .label + .panel {
       display: block;
       width: 100%;
     }

   </style>
<script>        
window.addEventListener('load', function () {
      if($(window).width() > 600) {
        var marginTopNTab = ((document.getElementById('fm-product-thumb').offsetHeight - document.getElementById('fm-product-form').offsetHeight) - 200);
        console.log('marginTopNTab:', marginTopNTab);
        document.getElementById('fm-product-tabs').style.cssText = "margin-top: "+ marginTopNTab+ "px;";
      }
}, false);
</script>