{% if type == 'block' %}
  {% assign wide_display = block.settings.wide_display %}
  {% assign background_color = block.settings.background_color %}
  {% assign is_disable = block.settings.is_disable %}
{% else %}
  {% assign disable_in_cart = section.settings.disable_in_cart %}
  {% assign wide_display = section.settings.wide_display %}
  {% assign background_color = section.settings.background_color %}
  {% assign is_disable = section.settings.is_disable %}
{% endif %}

{% if wide_display == false %}
  <div class="container">
    <div class="sixteen columns">
{% endif %}
      {{ template.name }}
    <div class="klaviyo"  style="{% if is_disable %} display: none;{% endif %} {% if disable_in_cart and template.name == "cart"%} {% if disable_in_product and template.name == "product" %}  display: none;{% endif %}{% endif %} background-color: {{ section.settings.background_color }} " >
      <div class="klaviyo-form-{{ section.settings.klaviyo_api_key }}"></div>
    </div>

{% if wide_display == false %}
  </div>
</div>
{% endif %}