<div class="quantity-discount">
  <h4 class="upsell-quantity__title">Buy More Save More!</h4>
  <div class="quantity-discount-container">
    <div class="upsell-quantity-discounts">
      <div class="upsell-quantity-text">
        <div class="discount-title">2 items get 10% OFF</div>
        <div class="discount-subtitle">on each product</div>
      </div>
      <button class="upsell-quantity-button" data-quantity="2"> Add</button>
    </div>
    <div class="upsell-quantity-discounts">
      <div class="upsell-quantity-text">
        <div class="discount-title">3 items get 15% OFF</div>
        <div class="discount-subtitle">on each product</div>
      </div>
      <button class="upsell-quantity-button" data-quantity="3">Add</button>
    </div>
    <div class="upsell-quantity-discounts">
      <div class="upsell-quantity-text">
        <div class="discount-title">5 items get 20% OFF</div>
        <div class="discount-subtitle">on each product</div>
      </div>
      <button class="upsell-quantity-button" data-quantity="5">Add</button>
    </div>
  </div>
</div>


<script type="text/javascript" src="//cdn.shopify.com/s/files/1/0061/8630/3557/t/147/assets/custom_function.js?v=18302159332686859457" async></script>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(event) { 
   $('.upsell-quantity-button').click(function(){
      	var cartItemCount = $(".cart_count").first().text();
      	cartItemCount = parseInt(cartItemCount);
    	var quantity = $(this).data('quantity');
		var leftItemCount = quantity - cartItemCount;
      	var isCustomily = $("#customily-cart-btn").length > 0;
      	let checkReady = false;
        if(isCustomily){
          check_valid();
          if($(".customily_option").hasClass("customily-required-error") == false){
            checkReady = true;            
          }else{
            checkReady = false;
          	$("#customily-cart-btn").click();            
			$(window).scrollTop($('#customily-options').offset().top - 40);
          }
        } else {
			checkReady = true;   
        }
      
      if(checkReady){
        const currentPrice = $('.current_price').text().replace('$','');
        const clickValue = parseFloat(currentPrice) * parseFloat(quantity);
        console.log('clickValue',clickValue);
        ga('send', 'event', 'Quantity Discount', `Clicked Quantity Discount`, `Buy ${quantity}`);
        $('.upsell-quantity-button').hide();
        $(this).show(); 
        $("#quantity").val(leftItemCount);
        $("#customily-cart-btn").click();   
        $(this).html(`<div class="ld ld-cycle ld-ring"></div>`); 
      }
    })
});

</script>