<div class="quantity-discount">
  <h4 class="upsell-quantity__title">Buy More Save More!</h4>
  <div class="quantity-discount-container">
    <div class="upsell-quantity-discounts">
      <div class="upsell-quantity-text">
        <div class="discount-title">2 items get 10% OFF</div>
        <div class="discount-subtitle">on each product</div>
      </div>
      <button class="upsell-quantity-button" data-quantity="2"> Add</button>
    </div>
    <div class="upsell-quantity-discounts">
      <div class="upsell-quantity-text">
        <div class="discount-title">3 items get 15% OFF</div>
        <div class="discount-subtitle">on each product</div>
      </div>
      <button class="upsell-quantity-button" data-quantity="3">Add</button>
    </div>
    <div class="upsell-quantity-discounts">
      <div class="upsell-quantity-text">
        <div class="discount-title">5 items get 20% OFF</div>
        <div class="discount-subtitle">on each product</div>
      </div>
      <button class="upsell-quantity-button" data-quantity="5">Add</button>
    </div>
  </div>
</div>


<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(event) { 
   $('.upsell-quantity-button').click(function(){
      	var cartItemCount = $(".cart_count").first().text();
      	cartItemCount = parseInt(cartItemCount);
    	var quantity = $(this).data('quantity');
		var leftItemCount = quantity - cartItemCount;
     	console.log('leftItemCount', leftItemCount);
      	var isCustomily = $("#customily-cart-btn").length > 0;
      	let checkReady = false;
        if(isCustomily){
          check_valid();
          if($(".customily_option").hasClass("customily-required-error") == false){
            checkReady = true;            
          }else{
            checkReady = false;
          	$("#customily-cart-btn").click();            
			$(window).scrollTop($('#customily-options').offset().top - 40);
          }
        } else {
			checkReady = true;   
        }
      
      if(checkReady){
        const currentPrice = $('.current_price').text().replace('$','');
        const clickValue = parseFloat(currentPrice) * parseFloat(quantity);
        console.log('clickValue',clickValue);
//         ga('send', 'event', 'Quantity Discount', `Clicked Quantity Discount`, `Buy ${quantity}`);
        $('.upsell-quantity-button').hide();
        $(this).show(); 
        
        $("#quantity").val(leftItemCount);
        
        $("#quantity").val(leftItemCount);
        
        setTimeout(function(){  $("#customily-cart-btn").click();   }, 1000);
        
        $(this).html(`<div class="ld ld-cycle ld-ring"></div>`); 
      }
    })
});

  function check_valid() {
    firstLoad = !1;
    var e = [];
    var t = [];
    var o = [];
    $("#customily-options input[type='radio']").each(function() {
            e.push($(this).attr("name"));
        }),
      
    	$("#customily-options input[type='file']").each(function() {
            e.push($(this).attr("name"));
        }),
        $("#customily-options select").each(function() {
            t.push($(this).attr("name"));
        }),
        $("#customily-options input[type='text']").each(function() {
            o.push($(this).attr("name"));
        });
    var r = $.unique(e);
    var t = $.unique(t);
    for (var c = 0; c < r.length; c++) {
        var i;
        null == (i = $("input[name='" + $.escapeSelector(r[c]) + "']:checked").attr("name")) ?
            $("input[name='" + $.escapeSelector(r[c]) + "']")
            .closest(".customily_option")
            .addClass("customily-required-error") :
            $("input[name='" + $.escapeSelector(r[c]) + "']:checked")
            .closest(".customily_option")
            .removeClass("customily-required-error");
    }
    for (var c = 0; c < t.length; c++) {
        var i;
        null == (i = $("select[name='" + $.escapeSelector(t[c]) + "']").val()) ?
            $("select[name='" + $.escapeSelector(t[c]) + "']")
            .closest(".customily_option")
            .addClass("customily-required-error") :
            $("select[name='" + $.escapeSelector(t[c]) + "']")
            .closest(".customily_option")
            .removeClass("customily-required-error");
    }
    for (var c = 0; c < o.length; c++) {
        var i;
        "" == (i = $("input[name='" + $.escapeSelector(o[c]) + "']").val()) ?
        $("input[name='" + $.escapeSelector(o[c]) + "']")
            .closest(".customily_option")
            .addClass("customily-required-error"): $("input[name='" + $.escapeSelector(o[c]) + "']")
            .closest(".customily_option")
            .removeClass("customily-required-error");
    }
}

function getRandomInt(e, t) {
    return (e = Math.ceil(e)), (t = Math.floor(t)), Math.floor(Math.random() * (t - e + 1)) + e;
}
$(document).on("click", ".preview_btn", function(e) {
        if ((e.preventDefault(), check_valid(), 0 == $(".customily_option").hasClass("customily-required-error"))) {
            var t;
            var o = document.getElementById("preview-canvas").toDataURL("image/png");
            $(".main_priview_img img").attr("src", o), $.fancybox.open([{
                src: "#preview_image",
                type: "inline",
                touch: !1,
                animationDuration: 0
            }]);
        } else alert("Please check your design once again. Some required options have been left empty, unselected, or wrongly filled."), $("#customily-cart-btn").click();
    }),
    $(document).ready(function() {
        $(".scoll_to_review,.m_scoll_to_review").click(function(e) {
            $("#judgeme_product_reviews").get(0).scrollIntoView();
        });
    }),
    $(document).ready(function() {
        const e = undefined;
        const t = undefined;
        const o = getRandomInt(3, 8);
        $("#people-available").text(o);
    });

</script>