<!-- start Recomatic code -->
<div style="clear: both;"></div>
<div class="container">
  <div class="related-products__title sixteen columns"> 
    <h4 class="title center">{{ shop.metafields.recomatic.product.headline }}</h4> 
    <div class="feature_divider">
<div id="recomatic-related-products" data-widget="product" data-id="{{ product.id }}"></div></div>
  </div> 
  <div class="clear">
  </div>
</div>
<!-- end Recomatic code -->

