<br>
<div class="estimate-shipping">
  
<p>🚚 Deliver to <strong>United States</strong><br><small id="est-description"></small></p>
 
<div class="shipping-inline">
  <div class="shipping-block">
      <p class="shipping-title">🚀  Express Shipping</p>
      <p class="shipping-delivery">Arrives by <span class="estimate-shipping-time express-ship">N/A</span><p>
  </div>
  <div class="shipping-block">
      <p class="shipping-title">📦  Standard Shipping</p>
      <p class="shipping-delivery">Arrives by <span class="estimate-shipping-time standard-ship">N/A</span><p>
  </div>
</div>
</div>
<script>
  
const SATURDAY = 6
const SUNDAY = 0
 document.addEventListener("DOMContentLoaded", function(){
    const store = "familypanda.co";
  let product_type = '{{ product.type }}';
  let product_tags = '{{ product.tags |where: "est-" | first }}';

  fetch('https://hub.greatestofalltime.co/api/est-delivery?store='+store+'&type='+product_type+'&tag='+product_tags)
  .then(response => response.json())
  .then(data => parseEstimateData(data));
});

{% comment %}
window.addEventListener('load', function () {
  const store = "familypanda.co";
  let product_type = '{{ product.type }}';
  let product_tags = '{{ product.tags |where: "est-" | first }}';

  fetch('https://hub.greatestofalltime.co/api/est-delivery?store='+store+'&type='+product_type+'&tag='+product_tags)
  .then(response => response.json())
  .then(data => parseEstimateData(data));

}, false);


{% endcomment %}
  
function parseEstimateData(e){document.getElementById("est-description").innerHTML=e.description;var t=parseInt(e.standard_ship_min),a=parseInt(e.standard_ship_max),n=parseInt(e.express_ship_min),r=parseInt(e.express_ship_max);if(0!=t||0!=a){const[e,n]=estimatedDeliveryRange(t,a),[r,s]=[formatDate(e),formatDate(n)];let i;i=r===s?r:`${r} &mdash; ${s}`,document.querySelectorAll(".standard-ship").forEach(e=>{e.innerHTML=i})}if(0!=n||0!=r){const[e,t]=estimatedDeliveryRange(n,r),[a,s]=[formatDate(e),formatDate(t)];let i;i=a===s?a:`${a} &mdash; ${s}`,document.querySelectorAll(".express-ship").forEach(e=>{e.innerHTML=i})}}function estimatedDeliveryRange(e,t){var a=new Date;const n=new Date(a.getTime());let r,s;for(n.setHours(12,0,0,0);e>0||t>0;)n.setHours(n.getHours()+24),n.getDay()!==SATURDAY&&n.getDay()!==SUNDAY&&(t--,--e<=0&&!r&&(r=new Date(n.getTime())),t<=0&&!s&&(s=new Date(n.getTime())));return[r,s]}function formatDate(e=new Date){return new Intl.DateTimeFormat("en-US",{day:"numeric",month:"short"}).format(e)}
</script>