<br>
<div>
  <div class="shipping-block">
      <p class="shipping-title">🚀 Express Shipping</p>
      <p>Get it by <span class="estimate-shipping-time express-ship">N/A</span><p>
  </div>
  <div class="shipping-block">
      <p class="shipping-title">📦 Standa Shipping</p>
      <p>Get it by <span class="estimate-shipping-time standa-ship">N/A</span><p>
  </div>
</div>

<script>
window.addEventListener('load', function () {

    const [standaMinDate, standaMaxDate] = estimatedDeliveryRange({{ section.settings.standa_ship_min }},{{ section.settings.standa_ship_max }});
    const [standaMinFormat, standaMaxFormat] = [formatDate(standaMinDate), formatDate(standaMaxDate)];
    let standaEstimatedDelivery
    if (standaMinFormat === standaMaxFormat) {
        standaEstimatedDelivery = standaMinFormat;
    } else {
        standaEstimatedDelivery = `${standaMinFormat} &mdash; ${standaMaxFormat}`;
    }
    document.querySelectorAll(".standa-ship").forEach((el) => {
        el.innerHTML = standaEstimatedDelivery;
    })
    

    const [expressMinDate, expressMaxDate] = estimatedDeliveryRange({{ section.settings.express_ship_min }},{{ section.settings.express_ship_max }});
    const [expressMinFormat, expressMaxFormat] = [formatDate(expressMinDate), formatDate(expressMaxDate)];
    let expressEstimatedDelivery
    if (expressMinFormat === expressMaxFormat) {
        expressEstimatedDelivery = expressMinFormat;
    } else {
        expressEstimatedDelivery = `${expressMinFormat} &mdash; ${expressMaxFormat}`;
    }
    document.querySelectorAll(".express-ship").forEach((el2) => {
        el2.innerHTML = expressEstimatedDelivery;
    })
}, false);

const SATURDAY = 6
const SUNDAY = 0

function estimatedDeliveryRange(minWorkDays, maxWorkDays) {
   
  var from = new Date();
  const time = new Date(from.getTime())
    time.setHours(12, 0, 0, 0)
    let minDate
    let maxDate
    while (minWorkDays > 0 || maxWorkDays > 0) {
        time.setHours(time.getHours() + 24)
        if (time.getDay() !== SATURDAY && time.getDay() !== SUNDAY) {
            minWorkDays--
            maxWorkDays--
            if (minWorkDays <= 0 && !minDate) {
                minDate = new Date(time.getTime())
            }
            if (maxWorkDays <= 0 && !maxDate) {
                maxDate = new Date(time.getTime())
            }
        }
    }
    return [minDate, maxDate]
}

function formatDate(date = new Date()) {
    return new Intl.DateTimeFormat("en-US", {
        day: 'numeric',
        month: 'short',
    }).format(date);
}
</script>