<div class="estimated-delivery">
  <div class="hurry-icon">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
      <path d="M78.2 43.5l-6.3-10.3c-.4-.6-1-1-1.7-1h-9.7c-1.1 0-2 .9-2 2V52c0 1.1.9 2 2 2h1.6c.4 0 .7-.2.8-.5.8-1.8 2.7-3.1 4.9-3.1s4 1.3 4.9 3.1c.1.3.5.5.8.5h3c1.1 0 2-.9 2-2v-7.4c0-.4-.1-.8-.3-1.1zm-4.4-1h-8.9c-.6 0-1.1-.5-1.1-1.1v-6.6c0-.6.5-1.1 1.1-1.1h4.9c.4 0 .8.2 1 .5l4 6.6c.5.7-.1 1.7-1 1.7zm-6 9.6c-2.5 0-4.5 2-4.5 4.5s2 4.5 4.5 4.5 4.5-2 4.5-4.5-2.1-4.5-4.5-4.5zm0 6.7c-1.2 0-2.2-1-2.2-2.2 0-1.2 1-2.2 2.2-2.2 1.2 0 2.2 1 2.2 2.2 0 1.2-1 2.2-2.2 2.2zM56.8 28v22c0 2.2-1.8 4-4 4H39.2c-1 0-1.9-.5-2.5-1.3-1-1.4-2.6-2.4-4.4-2.4-1.8 0-3.5.9-4.4 2.4-.6.8-1.5 1.3-2.5 1.3h-8.8c-.9 0-1.6-.7-1.6-1.6 0-.9.7-1.6 1.6-1.6h8.6c.9 0 1.7-.8 1.7-1.7 0-.9-.8-1.7-1.7-1.7H11.3c-.9 0-1.6-.7-1.6-1.6 0-.9.7-1.6 1.6-1.6h18c.9 0 1.7-.8 1.7-1.7 0-.9-.8-1.7-1.7-1.7H16.7c-.9 0-1.6-.7-1.6-1.6 0-.9.7-1.6 1.6-1.6h14.6c.9 0 1.7-.8 1.7-1.7 0-.9-.8-1.7-1.7-1.7h-8.1c-.9 0-1.6-.7-1.6-1.6 0-.9.7-1.6 1.6-1.6h11.4c.9 0 1.6-.7 1.6-1.6v-.2c0-.9-.7-1.6-1.6-1.6h-6c-.9 0-1.6-.7-1.6-1.6 0-.9.7-1.6 1.6-1.6h24.2c2.2-.4 4 1.4 4 3.6zM32.3 52.1c-2.5 0-4.5 2-4.5 4.5s2 4.5 4.5 4.5 4.5-2 4.5-4.5-2-4.5-4.5-4.5zm0 6.7c-1.2 0-2.2-1-2.2-2.2 0-1.2 1-2.2 2.2-2.2 1.2 0 2.2 1 2.2 2.2.1 1.2-.9 2.2-2.2 2.2zM10.8 25.6c0-.9.7-1.6 1.6-1.6h9.8c.9 0 1.6.7 1.6 1.6 0 .9-.7 1.6-1.6 1.6h-9.8c-.8.1-1.6-.7-1.6-1.6zm-.2 15H6.3c-.9 0-1.6-.7-1.6-1.6 0-.9.7-1.6 1.6-1.6h4.3c.9 0 1.6.7 1.6 1.6.1.9-.7 1.6-1.6 1.6zm6.8-6.7H3.1c-.9 0-1.6-.7-1.6-1.6 0-.9.7-1.6 1.6-1.6h14.3c.9 0 1.6.7 1.6 1.6 0 .8-.7 1.6-1.6 1.6z"></path>
    </svg>
  </div>
  <div class="text">
    <strong> Arrives by <span class="estimate-shipping-time">N/A</span></strong> if you order today. Hooray!</div>
</div>
<style>
  .estimated-delivery {
    display: flex;
    align-items: center;
  }
  .estimated-delivery .hurry-icon {
    flex: 0 0 50px;
  }
  .estimated-delivery .text {
    padding-left: 10px;
    font-size: 14px;
  }
  .estimated-delivery .js-shipping-time {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-position: under;
    text-decoration-color: inherit;
  }
  .eta-note {
    font-style: italic;
  }
</style>
<script>
  $(function() {
    showEstimatedDelivery();
});

function showEstimatedDelivery() {
    const estDelEls = document.querySelectorAll(".estimate-shipping-time");
    if (!estDelEls || !estDelEls.length) {
        return;
    }
    const [minDate, maxDate] = estimatedDeliveryRange();
    const [minFormat, maxFormat] = [formatDate(minDate), formatDate(maxDate)];
    let estimatedDelivery
    if (minFormat === maxFormat) {
        estimatedDelivery = minFormat;
    } else {
        estimatedDelivery = `${minFormat} &mdash; ${maxFormat}`;
    }
    document.querySelectorAll(".estimate-shipping-time").forEach((el) => {
        el.innerHTML = estimatedDelivery;
    })
}

const SATURDAY = 6
const SUNDAY = 0

function estimatedDeliveryRange(from = new Date(), minWorkDays = {{ section.settings.ed_min_workday }}, maxWorkDays = {{ section.settings.ed_max_workday }}) {
    const time = new Date(from.getTime())
    time.setHours(12, 0, 0, 0)
    let minDate
    let maxDate
    while (minWorkDays > 0 || maxWorkDays > 0) {
        time.setHours(time.getHours() + 24)
        if (time.getDay() !== SATURDAY && time.getDay() !== SUNDAY) {
            minWorkDays--
            maxWorkDays--
            if (minWorkDays <= 0 && !minDate) {
                minDate = new Date(time.getTime())
            }
            if (maxWorkDays <= 0 && !maxDate) {
                maxDate = new Date(time.getTime())
            }
        }
    }
    return [minDate, maxDate]
}

function formatDate(date = new Date()) {
    return new Intl.DateTimeFormat("en-US", {
        weekday: 'short',
        day: 'numeric',
        month: 'short',
    }).format(date);
}
</script>