<div class="meta">
  <div>
   {{ section.settings.trust_bage_text }}
  <div>
   <img src="{{ section.settings.trust_bage_img | img_url }}" alt="{{ section.settings.trust_bage_img | img_alt }}">
</div>