<div class="meta">
   {{ section.settings.trust_badge_text }}
   <br>
   <img src="{{ section.settings.trust_badge_img | img_url }}" alt="{{ section.settings.trust_badge_img | img_alt }}" width="100%">
</div>