<div class="meta">
    <ul class="trust-bage">
        {{ section.settings.trust_bage_text }}
    </ul>
   <img src="{{ section.settings.trust_bage_img | img_url }}" alt="{{ section.settings.trust_bage_img | img_alt }}">
</div>

<style>
  .trust-bage {
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
  }
</style>