{% comment %}
** Newsletter - homepage partial **
- Draggable section
{% endcomment %}

{% if type == 'block' %}
  {% assign wide_display = block.settings.wide_display %}
  {% assign show_here = block.settings.do_not_show_here %}
{% else %}
  {% assign wide_display = section.settings.wide_display %}
  {% assign show_here = section.settings.do_not_show_here %}
{% endif %}

{% if wide_display == false %}
  <div class="container">
    <div class="sixteen columns">
{% endif %}
    <div class="klaviyo" {% if show_here %} style="display: none;" {% endif %}>
      <div class="klaviyo-form-{{ settings.klaviyo_api_key }}"></div>
    </div>

{% if wide_display == false %}
  </div>
</div>
{% endif %}

{% schema %}

{
  "name": "Klaviyo Marketing",
  "class": "klaviyo-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "wide_display",
      "label": "Wide display",
      "default": true
    },
    {
    "type": "checkbox",
    "id": "do_not_show_here",
    "label": "Don't Show Here"
    },
    {
      "type": "text",
      "id": "klaviyo_api_key",
      "label": "Klaviyo Apikey",
      "default": "S9QAS3"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image",
      "info":"1600 x 300px recommended"
    }
  ],
  "presets": [{
    "name": "Klaviyo Marketing",
    "category": "Promotional",
    "settings": {
    }
  }]
}

{% endschema %}
