document.addEventListener("DOMContentLoaded", function(event) { 
    
   var isCustomily = $("#customily-cart-btn").length > 0;
    if(isCustomily){
      var $upSellBtn = document.getElementsByClassName('upsell-quantity-button');
      for(var i=0; i < $upSellBtn.length; i++){
        if($upSellBtn[i].hasAttribute('hidden')){
          $upSellBtn[i].removeAttribute("hidden");
        }
      }
    }
    
   $('.upsell-quantity-button').click(function(){
      	var cartItemCount = $(".cart_count").first().text();
      	cartItemCount = parseInt(cartItemCount);
    	var quantity = $(this).data('quanity');
		var leftItemCount = quantity - cartItemCount;
     	console.log('leftItemCount', leftItemCount);
     
        $("#quantity").val(parseInt(leftItemCount));
        
      	let checkReady = false;
        if(isCustomily){
          checkValidCustomily();
          if($(".customily_option").hasClass("customily-required-error") == false){
            checkReady = true;            
          }else{
            checkReady = false;
          	$("#customily-cart-btn").click();            
			$(window).scrollTop($('#customily-options').offset().top - 40);
          }
        } else {
			checkReady = false;   
        }
      
      if(checkReady){
        const currentPrice = $('.current_price').text().replace('$','');
        const clickValue = parseFloat(currentPrice) * parseFloat(quantity);
        console.log('clickValue',clickValue);
		ga('send', 'event', 'Quantity Discount', `Clicked Quantity Discount`, `Buy ${quantity}`);
        $('.upsell-quantity-button').hide();
        $(this).show();
        
        $("#customily-cart-btn").click();
        
        $(this).html(`<div class="ld ld-cycle ld-ring"></div>`); 
      }
    })
});



function hxdValidateForm(form){
  for(var i=0; i < form.elements.length; i++){
    if(form.elements[i].value === '' && form.elements[i].hasAttribute('required')){
      form.elements[i].style.border = '1px solid red';
      console.log('false field');
      return false;
    }
  }
};

function checkValidCustomily() {
    firstLoad = !1;
    var e = [];
    var t = [];
    var o = [];
    $("#customily-options input[type='radio']").each(function() {
            e.push($(this).attr("name"));
        }),
      
    	$("#customily-options input[type='file']").each(function() {
            e.push($(this).attr("name"));
        }),
        $("#customily-options select").each(function() {
            t.push($(this).attr("name"));
        }),
        $("#customily-options input[type='text']").each(function() {
            o.push($(this).attr("name"));
        });
    var r = $.unique(e);
    var t = $.unique(t);
    for (var c = 0; c < r.length; c++) {
        var i;
        null == (i = $("input[name='" + $.escapeSelector(r[c]) + "']:checked").attr("name")) ?
            $("input[name='" + $.escapeSelector(r[c]) + "']")
            .closest(".customily_option")
            .addClass("customily-required-error") :
            $("input[name='" + $.escapeSelector(r[c]) + "']:checked")
            .closest(".customily_option")
            .removeClass("customily-required-error");
    }
    for (var c = 0; c < t.length; c++) {
        var i;
        null == (i = $("select[name='" + $.escapeSelector(t[c]) + "']").val()) ?
            $("select[name='" + $.escapeSelector(t[c]) + "']")
            .closest(".customily_option")
            .addClass("customily-required-error") :
            $("select[name='" + $.escapeSelector(t[c]) + "']")
            .closest(".customily_option")
            .removeClass("customily-required-error");
    }
    for (var c = 0; c < o.length; c++) {
        var i;
        "" == (i = $("input[name='" + $.escapeSelector(o[c]) + "']").val()) ?
        $("input[name='" + $.escapeSelector(o[c]) + "']")
            .closest(".customily_option")
            .addClass("customily-required-error"): $("input[name='" + $.escapeSelector(o[c]) + "']")
            .closest(".customily_option")
            .removeClass("customily-required-error");
    }
}

function getRandomInt(e, t) {
    return (e = Math.ceil(e)), (t = Math.floor(t)), Math.floor(Math.random() * (t - e + 1)) + e;
}